[submodule "third_party/sdl3"]
	path = third_party/sdl3
	url = https://github.com/libsdl-org/SDL
[submodule "third_party/sdl3_image"]
	path = third_party/sdl3_image
	url = https://github.com/libsdl-org/SDL_image
